/* 초기화  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;700&family=Varela+Round&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  a, a:link, a:visited{
    color:inherit;
    text-decoration:none;
  }

/* HEADER  */

li {
    list-style: none; /* li 앞의 점도 없애라*/
}
.container{
    width: 1140px; /* 홈페이지의 전체 가로사이즈를 1140px로 잡음*/
    margin:0 auto;
}
header{
  position:fixed;
  color:white;
  top:0;
  z-index:1;
  width:100%;
  padding:1rem;
}
header .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
}
header nav ul{
  display:flex;
}
header nav ul li{
  padding:10px;
}
header button{
  background: transparent;
  border:0;
  cursor: pointer;
  color:white; 
}
header h1 button{
  font-size: 2rem;
  font-weight: bold;
}
header nav ul li button{
  font-size: 1.2rem;
}
/*main */
main {
    width: 100%; /* 부모가 가지고 있는 width 여기선.container의 width 값*/
    height: 100vh; /**/
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/me.jpg') center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main h4 {
    font-size: 2rem;
}
main h2 {
    font-size: 3.5rem;
    margin: 2rem 0;
    letter-spacing: 3px;
    font-family: 'Varela Round', sans-serif; /*웹 폰트 추가*/
}
main p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
}
main button.download{
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin-top: 3rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
main button.mouse{
    background-color:transparent;
    border:none;
    color:white;
    font-size:2rem;
    position:absolute;
    bottom:1rem;
    left:50%;
    transform:translateX(-50%);
    animation:upDown 1s ease-in-out infinite;
    cursor:pointer;
  }
  @keyframes upDown {
    0%{
        bottom: 1rem;

    }
    50%{
        bottom: 1.5rem;
        
    }
    100%{
        bottom: 1rem;
        
    }
  }
  main h2 span::after{
    content:"";
    height:40px;
    width:3px;
    background-color:#fff;
    display:inline-block;
    animation: blink .7s ease-in-out infinite;
  }
  @keyframes blink {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  
/* section */
section{

    font-family: 'poppins', sans-serif;
    padding: 5rem 0;
}
section:nth-child(2n){
    background: #f8f8f8;
}
section .title{
    margin-bottom: 3rem;
}

section .title h4{
    font-size: 1.35rem;
    color: #ed4848;
    position: relative
}
section .title h2{
    font-size: 3.5rem;
}
section .title p{
    font-size: 1.15rem;
}
/*float 속성 해제 */ 
section .about-self:after{
    content: "";
    clear:both;
    display: block;
}
/*본문 너비 절반 지정 & 왼쪽 배치*/
section .about-self .left{
    width: 50%;
    float: left;
}
section .about-self .left img{
    max-width: 100%;
}
section .about-self .right{
    width: 50%;
    float: left;
    padding: 0 2rem;
}
/* 본문 오른쪽 h3 태그의 글자 크기와 여백 지정 */
section .about-self .right h3{
    font-size: 2.25rem;
    margin-bottom: 1rem;
}
/* 본문 오른쪽 h3 태그의 strong 태그 색상 강조 */
section .about-self .right h3 strong{
    color: #ed4848;
}
/* 본문 오른쪽 p 태그의 크기와 여백 지정 */
section .about-self .right p {
    font-size: 1.15rem;
    margin: 1rem 0;
}
/* 본문 오른쪽의 아이콘 폰트 크기와 여백 지정 */
section .about-self .right .social a{
    font-size:2.5rem;
    margin-right:0.2rem;
  }
/* footer */